# Intro to Data Wrangling
* Data wrangling (also known as data munging) refers to the process of cleaning, transforming, and preparing raw data for analysis or machine learning tasks.
* It involves tasks such as handling missing values, correcting errors in the data, converting data formats, aggregating data, and ensuring the data is in a usable structure.

__NOTE:__
- __This is an introductory session. We will deep dive into data analysis with real data post midterm exam 1.__
- __After midterm 1 the course shifts to applications with real world data analysis, with databases and web development (the topics maybe intertwined).__
- __These concepts will not be part of midterm exam 1__

# Overview of Data Wrangling
* Data wrangling is a crucial step in any data analysis process. Raw data often comes from various sources such as CSV files, databases, APIs, and web scraping.
* These datasets often contain missing or erroneous data, inconsistencies, and unstructured formats.
* The goal of data wrangling is to convert this raw data into a clean, structured format that can be used effectively for analysis or machine learning.

It includes tasks like:
- Cleaning: Removing errors or inconsistencies.
- Transforming: Changing data types, values, or structures.
- Consolidating: Merging different data sources.
- Filtering: Selecting relevant data points.
- Feature Engineering: Creating new features from existing data.

# Use cases
Why is it Important?
- Data collected from various sources such as web scraping, APIs, and databases often come in raw forms with inconsistencies.
- Cleaning and transforming this data is necessary for obtaining actionable insights.
- You cannot perform meaningful analysis, dervie conclusions, or build machine learning models without this step.

# Python libraries for Data Wrangling

There are many python libraries that can be used for this purpose. We will look at some of the popular ones and also some niche libraries that might be useful for specific types of data.


### Pandas: The Core Library
Pandas provides two main data structures:
- DataFrame: A two-dimensional table with labeled axes (rows and columns).
- Series: A one-dimensional array with labeled indices.
Pandas simplifies data manipulation and preparation through a rich set of functionalities.
Basic Operations:
* pd.read_csv() to read data from CSV files.
* DataFrame.dropna() to remove missing data.
* DataFrame.fillna() to replace missing values.
* DataFrame.groupby() for aggregation.


### NumPy: Handling Numerical Data
NumPy is used for numerical computing, and it is especially useful for working with arrays. It supports operations like mathematical calculations, broadcasting, and reshaping data.
Key Functions:
* np.array() to create NumPy arrays.
* np.mean(), np.median() for basic statistics. (many more like this)

### Matplotlib & Seaborn: Data Visualization
Data wrangling is often followed by visualizing the results to ensure data correctness.
* Matplotlib: Provides low-level plotting functionalities.
* Seaborn: Built on top of Matplotlib and offers advanced statistical visualizations.

### Regex (re module, already covered)
* For string manipulation, regular expressions (Regex) allow you to match and extract patterns from text data. For example, removing extra spaces, validating email addresses, or extracting dates.

# Simple Example Intro to pandas usage for data wrangling tasks

We will use messy data csv files as example. CSV stands for Comma Separated Values, each row resperents a datapoint, data sample, or entry. Each column represents an attribute or feature.

The first row has the name of the columns (optional, but is almost always the case). Pandas can the first row as labels for column.

Lets walkthrough some basic data wrangling tasks.

### Handling Missing Data

There are three main strategies for dealing with missing data:

#### Identifying Missing Data:

In [ ]:
import pandas
import pandas as pd

data = pd.read_csv('messy_employee_data.csv')
#DATA HAS 12 COLUMNS 10 ROWS
#can also use data.info()

print(data.shape)
print("_________________")
print(data)
print("_________________")
print(data.isnull().sum())  # Shows the count of missing values per column

(10, 12)
_________________
   Employee_ID First_Name Last_Name  Gender   Age Department  \
0          101       John       Doe    Male  35.0         HR
1          102       Jane     SMITH  female  28.0         IT
2          103        Sam     Brown    Male  45.0    Finance
3          104      Emily     Davis  Female  30.0         IT
4          105    Michael   Johnson    Male   NaN         HR
5          106      Laura    Wilson  Female  40.0  Marketing
6          107     Daniel     Moore    male  33.0  Marketing
7          108        NaN     Black    male  27.0         HR
8          109   Patricia     Green  Female  55.0         HR
9          101       John       Doe    Male  35.0         HR

            Job_Title   Salary Date_Joined    Bonus Phone_Number  \
0          HR Manager  65000.0  2018-03-01   5000.0     555-1234
1   Software Engineer  85000.0  2020-07-15   7000.0     555-5678
2          Accountant  90000.0  2015-06-23   5500.0     555-2345
3      Data Scientist  95000.0  2019-11-12   8000.0     555-6789
4       HR Specialist  70000.0         NaN      NaN     555-3456
5   Marketing Manager      NaN  2017-04-30   6200.0          NaN
6  Content Strategist  70000.0  2021-01-22   4000.0     555-7890
7        HR Assistant  48000.0  2022-03-15   3000.0     555-4321
8          HR Manager  80000.0  2016-08-19  10000.0     555-1234
9          HR Manager  65000.0  2018-03-01   5000.0     555-1234

                     Email
0       john.doe@gmail.com
1   jane.smith@example.com
2    sam.brown@company.com
3      emily.davis@company
4  michael.johnson@web.com
5      laura@marketing.com
6     daniel.moore@web.net
7    naomi.black@gmail.com
8   patricia.green@com.com
9       john.doe@gmail.com
_________________
Employee_ID     0
First_Name      1
Last_Name       0
Gender          0
Age             1
Department      0
Job_Title       0
Salary          1
Date_Joined     1
Bonus           1
Phone_Number    1
Email           0
dtype: int64

#### Removing Missing Data:
Multiple ways to handle this. Very rarely used.

In [ ]:
#Remove rows with missing data:
data_cleaned1 = data.dropna()
#Drop columns with missing data:
data_cleaned2 = data.dropna(axis=1) #axis 0 is rows (default), axis 1 is columns
print("data_cleaned1")
print(data_cleaned1)
print("____________")
print("data_cleaned2")
print(data_cleaned2)

# The dropna method in pandas DataFrames includes a thresh parameter that specifies the minimum number of non-missing values a row or column must have to be kept. Rows or columns with fewer non-missing values than the threshold are removed.

print("____________")
df_thresh_10_row = data.dropna(thresh=10)
print("\nDataFrame after dropping rows with less than 10 non-NaN values:")
print("data_thresh_10")
print(df_thresh_10_row)

#If a row has at least 10 filled (non-NaN) values, it will be kept.
#If a row has less than 10 filled values, it will be dropped.


print("____________")
df_thresh_10_col = data.dropna(thresh=10, axis=1)
print("data_thresh_10 axis 1")
print("\nDataFrame after dropping columns with less than 10 non-NaN values:")
print(df_thresh_10_col)

data_cleaned1
   Employee_ID First_Name Last_Name  Gender   Age Department  \
0          101       John       Doe    Male  35.0         HR
1          102       Jane     SMITH  female  28.0         IT
2          103        Sam     Brown    Male  45.0    Finance
3          104      Emily     Davis  Female  30.0         IT
6          107     Daniel     Moore    male  33.0  Marketing
8          109   Patricia     Green  Female  55.0         HR
9          101       John       Doe    Male  35.0         HR

            Job_Title   Salary Date_Joined    Bonus Phone_Number  \
0          HR Manager  65000.0  2018-03-01   5000.0     555-1234
1   Software Engineer  85000.0  2020-07-15   7000.0     555-5678
2          Accountant  90000.0  2015-06-23   5500.0     555-2345
3      Data Scientist  95000.0  2019-11-12   8000.0     555-6789
6  Content Strategist  70000.0  2021-01-22   4000.0     555-7890
8          HR Manager  80000.0  2016-08-19  10000.0     555-1234
9          HR Manager  65000.0  2018-03-01   5000.0     555-1234

                    Email
0      john.doe@gmail.com
1  jane.smith@example.com
2   sam.brown@company.com
3     emily.davis@company
6    daniel.moore@web.net
8  patricia.green@com.com
9      john.doe@gmail.com
____________
data_cleaned2
   Employee_ID Last_Name  Gender Department           Job_Title  \
0          101       Doe    Male         HR          HR Manager
1          102     SMITH  female         IT   Software Engineer
2          103     Brown    Male    Finance          Accountant
3          104     Davis  Female         IT      Data Scientist
4          105   Johnson    Male         HR       HR Specialist
5          106    Wilson  Female  Marketing   Marketing Manager
6          107     Moore    male  Marketing  Content Strategist
7          108     Black    male         HR        HR Assistant
8          109     Green  Female         HR          HR Manager
9          101       Doe    Male         HR          HR Manager

                     Email
0       john.doe@gmail.com
1   jane.smith@example.com
2    sam.brown@company.com
3      emily.davis@company
4  michael.johnson@web.com
5      laura@marketing.com
6     daniel.moore@web.net
7    naomi.black@gmail.com
8   patricia.green@com.com
9       john.doe@gmail.com
____________

DataFrame after dropping rows with less than 10 non-NaN values:
data_thresh_10
   Employee_ID First_Name Last_Name  Gender   Age Department  \
0          101       John       Doe    Male  35.0         HR
1          102       Jane     SMITH  female  28.0         IT
2          103        Sam     Brown    Male  45.0    Finance
3          104      Emily     Davis  Female  30.0         IT
5          106      Laura    Wilson  Female  40.0  Marketing
6          107     Daniel     Moore    male  33.0  Marketing
7          108        NaN     Black    male  27.0         HR
8          109   Patricia     Green  Female  55.0         HR
9          101       John       Doe    Male  35.0         HR

            Job_Title   Salary Date_Joined    Bonus Phone_Number  \
0          HR Manager  65000.0  2018-03-01   5000.0     555-1234
1   Software Engineer  85000.0  2020-07-15   7000.0     555-5678
2          Accountant  90000.0  2015-06-23   5500.0     555-2345
3      Data Scientist  95000.0  2019-11-12   8000.0     555-6789
5   Marketing Manager      NaN  2017-04-30   6200.0          NaN
6  Content Strategist  70000.0  2021-01-22   4000.0     555-7890
7        HR Assistant  48000.0  2022-03-15   3000.0     555-4321
8          HR Manager  80000.0  2016-08-19  10000.0     555-1234
9          HR Manager  65000.0  2018-03-01   5000.0     555-1234

                    Email
0      john.doe@gmail.com
1  jane.smith@example.com
2   sam.brown@company.com
3     emily.davis@company
5     laura@marketing.com
6    daniel.moore@web.net
7   naomi.black@gmail.com
8  patricia.green@com.com
9      john.doe@gmail.com
____________
data_thresh_10 axis 1

DataFrame after dropping columns with less than 10 non-NaN values:
   Employee_ID Last_Name  Gender Department           Job_Title  \
0          101       Doe    Male         HR          HR Manager
1          102     SMITH  female         IT   Software Engineer
2          103     Brown    Male    Finance          Accountant
3          104     Davis  Female         IT      Data Scientist
4          105   Johnson    Male         HR       HR Specialist
5          106    Wilson  Female  Marketing   Marketing Manager
6          107     Moore    male  Marketing  Content Strategist
7          108     Black    male         HR        HR Assistant
8          109     Green  Female         HR          HR Manager
9          101       Doe    Male         HR          HR Manager

                     Email
0       john.doe@gmail.com
1   jane.smith@example.com
2    sam.brown@company.com
3      emily.davis@company
4  michael.johnson@web.com
5      laura@marketing.com
6     daniel.moore@web.net
7    naomi.black@gmail.com
8   patricia.green@com.com
9       john.doe@gmail.com

#### Imputing Missing Data:

Multiple ways to handle this. Mostly used / goto approach

In [ ]:

#NOTE if we set "inplace=TRUE" for any of the following methods, it will update the original dataframe.
#Fill missing values with a default value or the mean/median:
#data_filled_def=data[['Salary', 'Bonus', 'Age']].fillna(0) #filling all numeric with specific
#data_filled_def = data.fillna(0) #filling default value
#print(data_filled_def)

#Generally applied first for string columns.
#print(data.dtypes) # prints the data types for each column. We will look into setting and changing data types of columns later.
data_filled_def = data.fillna({'First_Name': 'Unknown','Date_Joined': 'Unknown','Phone_Number': 'Unknown'}) # filling specific columns with default values
#print(data_filled_def)

#one trick to get all columnnames that are numeric. (non object).
# numeric_cols = data_filled_def.select_dtypes(exclude='object').columns
# #if it is a completly numeric dataframe, we can just use data.mean().
# #filling with mean values, only works with numerical columns.
# data_filled_mean = data_filled_def.fillna(data_filled_def[numeric_cols].mean())
# #print("_______________")
# print(data_filled_mean)

#Forward or Backward Filling:
#data_ffill = data.ffill() #fill forward (takes the PRECEDING value) (goes from top bottom)
#print("_______________")
#print(data_ffill)
#
data_bfill = data.bfill() #fill backward (takes the SUCCEEDING value ) (from bottom top)
print("_______________")
print(data_bfill)

_______________
   Employee_ID First_Name Last_Name  Gender   Age Department  \
0          101       John       Doe    Male  35.0         HR
1          102       Jane     SMITH  female  28.0         IT
2          103        Sam     Brown    Male  45.0    Finance
3          104      Emily     Davis  Female  30.0         IT
4          105    Michael   Johnson    Male  40.0         HR
5          106      Laura    Wilson  Female  40.0  Marketing
6          107     Daniel     Moore    male  33.0  Marketing
7          108   Patricia     Black    male  27.0         HR
8          109   Patricia     Green  Female  55.0         HR
9          101       John       Doe    Male  35.0         HR

            Job_Title   Salary Date_Joined    Bonus Phone_Number  \
0          HR Manager  65000.0  2018-03-01   5000.0     555-1234
1   Software Engineer  85000.0  2020-07-15   7000.0     555-5678
2          Accountant  90000.0  2015-06-23   5500.0     555-2345
3      Data Scientist  95000.0  2019-11-12   8000.0     555-6789
4       HR Specialist  70000.0  2017-04-30   6200.0     555-3456
5   Marketing Manager  70000.0  2017-04-30   6200.0     555-7890
6  Content Strategist  70000.0  2021-01-22   4000.0     555-7890
7        HR Assistant  48000.0  2022-03-15   3000.0     555-4321
8          HR Manager  80000.0  2016-08-19  10000.0     555-1234
9          HR Manager  65000.0  2018-03-01   5000.0     555-1234

                     Email
0       john.doe@gmail.com
1   jane.smith@example.com
2    sam.brown@company.com
3      emily.davis@company
4  michael.johnson@web.com
5      laura@marketing.com
6     daniel.moore@web.net
7    naomi.black@gmail.com
8   patricia.green@com.com
9       john.doe@gmail.com

### Removing Duplicates

Duplicate data often distorts the results, especially in large datasets.

#### Identifying Duplicates:

In [ ]:
print(data.duplicated())  # Returns True for duplicate rows (in this case the 9th row was a duplicate of the first )

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9     True
dtype: bool

#### Removing Duplicates:

In [ ]:
print(data)
#Remove exact duplicate rows:
# data_cleaned1 = data.drop_duplicates()
# print(data_cleaned1)
#Remove duplicates based on specific columns:
# data_cleaned2 = data.drop_duplicates(subset=['Salary']) #even if other columns are diff is salary matches it will drop the second one and onwards
# print(data_cleaned2)

Before we move on...
* read_csv can also be used to read other types of files, you can specify your own separator. basic syntax:  pd.read_csv("\<finename.extension\>", sep="\<separator\>")
* You can also specify data types (dtype) of the column, and specify NaN values (na_values)  during the read call.
* Refer Biological data exploration with Python, pandas and seaborn - pages 14 onwards.


* Test these out:
dataframe.info() can give you:
    - what class the object is (a DataFrame )
    - what the index looks like (a range )
    - how many data columns we have
    - for each column, how many values and their dtype
    - a summary of how many columns have each dtype

and dataframe.describe() can give you some basic statistics of each column.

* You can also specify your own column names and add it either while reading file or after that.

In [ ]:
# example for using own column names

my_columns=["col1", "col2", "col3", "col4", "col5", "col6", "col7", "col8", "col9", "col10","col11","col12"]
#note it considers first line as data in this method.
example1=pd.read_csv('messy_employee_data.csv',names=my_columns, na_values='?')#does not fully replace names
print(example1.head())

#note this replaces the column names , this method.
example2=pd.read_csv('messy_employee_data.csv')
example2.columns = my_columns
print(example2.head())

          col1        col2       col3    col4  col5        col6  \
0  Employee_ID  First_Name  Last_Name  Gender   Age  Department
1          101        John        Doe    Male  35.0          HR
2          102        Jane      SMITH  female  28.0          IT
3          103         Sam      Brown    Male  45.0     Finance
4          104       Emily      Davis  Female  30.0          IT

                col7     col8         col9   col10         col11  \
0          Job_Title   Salary  Date_Joined   Bonus  Phone_Number
1         HR Manager  65000.0   2018-03-01  5000.0      555-1234
2  Software Engineer  85000.0   2020-07-15  7000.0      555-5678
3         Accountant  90000.0   2015-06-23  5500.0      555-2345
4     Data Scientist  95000.0   2019-11-12  8000.0      555-6789

                    col12
0                   Email
1      john.doe@gmail.com
2  jane.smith@example.com
3   sam.brown@company.com
4     emily.davis@company
   col1     col2      col3    col4  col5     col6               col7     col8  \
0   101     John       Doe    Male  35.0       HR         HR Manager  65000.0
1   102     Jane     SMITH  female  28.0       IT  Software Engineer  85000.0
2   103      Sam     Brown    Male  45.0  Finance         Accountant  90000.0
3   104    Emily     Davis  Female  30.0       IT     Data Scientist  95000.0
4   105  Michael   Johnson    Male   NaN       HR      HR Specialist  70000.0

         col9   col10     col11                    col12
0  2018-03-01  5000.0  555-1234       john.doe@gmail.com
1  2020-07-15  7000.0  555-5678   jane.smith@example.com
2  2015-06-23  5500.0  555-2345    sam.brown@company.com
3  2019-11-12  8000.0  555-6789      emily.davis@company
4         NaN     NaN  555-3456  michael.johnson@web.com


# Series

* You can build a dataframe with Series objects
* Pandas provides a rich set of functionalities with Series objects are one-dimensional arrays.
* Boardcasting operations is a very useful tool.
* Each column in a dataframe is considered a series.

In [ ]:
import pandas as pd
#these are all individual Series you can call them alone (the columns) but u can also make two columns or more a DF

# building dataframe with Series objects
print("_______________")
a = pd.Series([1,2,3,4,5,6,7,8,9])
b=pd.Series(["One","Two","Three","Four","Five","Six","Seven"])
c=pd.Series([0,1,0,1,0,1,0,1,0,1])
newdata=pd.DataFrame({"column1":a,"column2":b})

print(newdata)
print("_______________")

#you can additionaly specify datatype with dtype attribute for Series

#broadcasting
print(a * 2)
print("_______________")
newdata['c']=newdata['column1'] * c
print(newdata)
print(type(newdata['column1']))

print("_______________")
print(a**2)

_______________
   column1 column2
0        1     One
1        2     Two
2        3   Three
3        4    Four
4        5    Five
5        6     Six
6        7   Seven
7        8     NaN
8        9     NaN
_______________
0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
dtype: int64
_______________
   column1 column2    c
0        1     One  0.0
1        2     Two  2.0
2        3   Three  0.0
3        4    Four  4.0
4        5    Five  0.0
5        6     Six  6.0
6        7   Seven  0.0
7        8     NaN  8.0
8        9     NaN  0.0
<class 'pandas.core.series.Series'>
_______________
0     1
1     4
2     9
3    16
4    25
5    36
6    49
7    64
8    81
dtype: int64

### Changing Data Types
Changing data types is crucial for analysis. For example, dates are better represented as datetime objects than as strings.


#### Convert Columns to Correct Data Types:
An example with date type

In [ ]:
# Convert a column to datetime
data_1 = data.drop_duplicates() #dropping duplicates
data_1['Date_Joined'] = pd.to_datetime(data_1['Date_Joined'])
# date time objects allow you to call specific functions on them. Like getting the delta and so on.
# Convert numerical column to integer
data_1 = data_1.fillna({'Salary': 0})
data_1['Salary'] = data_1['Salary'].astype('int')

#Check Data Types:
print(data_1.dtypes)

Employee_ID              int64
First_Name              object
Last_Name               object
Gender                  object
Age                    float64
Department              object
Job_Title               object
Salary                   int64
Date_Joined     datetime64[ns]
Bonus                  float64
Phone_Number            object
Email                   object
dtype: object

<ipython-input-20-7ff46274eb94>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1['Date_Joined'] = pd.to_datetime(data_1['Date_Joined'])

### String Manipulation
Strings need to be cleaned or transformed for consistency.

In [ ]:
#Example 1: Stripping Whitespace
data_1['First_Name'] = data_1['First_Name'].str.strip()  # Remove leading/trailing whitespaces(does on entire column)
print(data_1.dtypes)
#Example 2: Extracting Patterns with Regex
#creating a new column
import re
data_1['year'] = data_1['Date_Joined'].astype(str).str.extract(r'(\d{4})')  # Extract year from a date string, there are other ways to do this as it was already a datatime object
#Example 3: Replacing Values
#data_1['Gender'] = data_1['Gender'].replace({'male': 'M','Male': 'M', 'female': 'F','Female': 'F'})
data_1['Gender'] = data_1['Gender'].replace({re.compile('[mM]ale'): 'M',re.compile('[fF]emale'): 'F'})
print(data_1)

Employee_ID              int64
First_Name              object
Last_Name               object
Gender                  object
Age                    float64
Department              object
Job_Title               object
Salary                   int64
Date_Joined     datetime64[ns]
Bonus                  float64
Phone_Number            object
Email                   object
dtype: object
   Employee_ID First_Name Last_Name  Gender   Age Department  \
0          101       John       Doe    Male  35.0         HR
1          102       Jane     SMITH  female  28.0         IT
2          103        Sam     Brown    Male  45.0    Finance
3          104      Emily     Davis  Female  30.0         IT
4          105    Michael   Johnson    Male   NaN         HR
5          106      Laura    Wilson  Female  40.0  Marketing
6          107     Daniel     Moore    male  33.0  Marketing
7          108        NaN     Black    male  27.0         HR
8          109   Patricia     Green  Female  55.0         HR

            Job_Title  Salary Date_Joined    Bonus Phone_Number  \
0          HR Manager   65000  2018-03-01   5000.0     555-1234
1   Software Engineer   85000  2020-07-15   7000.0     555-5678
2          Accountant   90000  2015-06-23   5500.0     555-2345
3      Data Scientist   95000  2019-11-12   8000.0     555-6789
4       HR Specialist   70000         NaT      NaN     555-3456
5   Marketing Manager       0  2017-04-30   6200.0          NaN
6  Content Strategist   70000  2021-01-22   4000.0     555-7890
7        HR Assistant   48000  2022-03-15   3000.0     555-4321
8          HR Manager   80000  2016-08-19  10000.0     555-1234

                     Email  year
0       john.doe@gmail.com  2018
1   jane.smith@example.com  2020
2    sam.brown@company.com  2015
3      emily.davis@company  2019
4  michael.johnson@web.com   NaN
5      laura@marketing.com  2017
6     daniel.moore@web.net  2021
7    naomi.black@gmail.com  2022
8   patricia.green@com.com  2016

In [ ]:
#can tackle part a and b in hw


## Merging DAtasets:
Merging datasets is useful when combining data from different sources or tables.

In [ ]:
print(data)

newdata=pd.read_csv("messy_employee_data2.csv")
print('-----------------------------------------------------------------------------')

print(newdata)

#merged_data = pd.merge(data, newdata, how='outer')

#you can use "on" attribute if useing only few common columns
merged_data = pd.merge(data, newdata,on="Employee_ID", how='outer') #'outer' acts as an 'OR' so it includes all rows. 'inner' acts as the AND (only matches from the 'on')
print(merged_data)
#merged_data=merged_data.drop_duplicates()
#merged_data['Gender'] = merged_data['Gender'].replace({'male': 'M','Male': 'M', 'female': 'F','Female': 'F'})

   Employee_ID First_Name Last_Name  Gender   Age Department  \
0          101       John       Doe    Male  35.0         HR
1          102       Jane     SMITH  female  28.0         IT
2          103        Sam     Brown    Male  45.0    Finance
3          104      Emily     Davis  Female  30.0         IT
4          105    Michael   Johnson    Male   NaN         HR
5          106      Laura    Wilson  Female  40.0  Marketing
6          107     Daniel     Moore    male  33.0  Marketing
7          108        NaN     Black    male  27.0         HR
8          109   Patricia     Green  Female  55.0         HR
9          101       John       Doe    Male  35.0         HR

            Job_Title   Salary Date_Joined    Bonus Phone_Number  \
0          HR Manager  65000.0  2018-03-01   5000.0     555-1234
1   Software Engineer  85000.0  2020-07-15   7000.0     555-5678
2          Accountant  90000.0  2015-06-23   5500.0     555-2345
3      Data Scientist  95000.0  2019-11-12   8000.0     555-6789
4       HR Specialist  70000.0         NaN      NaN     555-3456
5   Marketing Manager      NaN  2017-04-30   6200.0          NaN
6  Content Strategist  70000.0  2021-01-22   4000.0     555-7890
7        HR Assistant  48000.0  2022-03-15   3000.0     555-4321
8          HR Manager  80000.0  2016-08-19  10000.0     555-1234
9          HR Manager  65000.0  2018-03-01   5000.0     555-1234

                     Email
0       john.doe@gmail.com
1   jane.smith@example.com
2    sam.brown@company.com
3      emily.davis@company
4  michael.johnson@web.com
5      laura@marketing.com
6     daniel.moore@web.net
7    naomi.black@gmail.com
8   patricia.green@com.com
9       john.doe@gmail.com
-----------------------------------------------------------------------------
   Employee_ID First_Name  Last_Name  Gender   Age Department  \
0          201       Hulk       Iron    Male  35.0         HR
1          202       Bane      SMITH  female  28.0         IT
2          203     Batman     Spider    Male  45.0    Finance

           Job_Title   Salary Date_Joined   Bonus Phone_Number  \
0         HR Manager  65000.0  2024-03-01  5000.0     535-1234
1  Software Engineer  85000.0  2024-07-15  7000.0     551-5678
2         Accountant  90000.0  2024-06-23  5500.0     525-2345

               Email
0    user1@gmail.com
1  user2@example.com
2  user3@company.com
    Employee_ID First_Name_x Last_Name_x Gender_x  Age_x Department_x  \
0           101         John         Doe     Male   35.0           HR
1           101         John         Doe     Male   35.0           HR
2           102         Jane       SMITH   female   28.0           IT
3           103          Sam       Brown     Male   45.0      Finance
4           104        Emily       Davis   Female   30.0           IT
5           105      Michael     Johnson     Male    NaN           HR
6           106        Laura      Wilson   Female   40.0    Marketing
7           107       Daniel       Moore     male   33.0    Marketing
8           108          NaN       Black     male   27.0           HR
9           109     Patricia       Green   Female   55.0           HR
10          201          NaN         NaN      NaN    NaN          NaN
11          202          NaN         NaN      NaN    NaN          NaN
12          203          NaN         NaN      NaN    NaN          NaN

           Job_Title_x  Salary_x Date_Joined_x  Bonus_x  ... Last_Name_y  \
0           HR Manager   65000.0    2018-03-01   5000.0  ...         NaN
1           HR Manager   65000.0    2018-03-01   5000.0  ...         NaN
2    Software Engineer   85000.0    2020-07-15   7000.0  ...         NaN
3           Accountant   90000.0    2015-06-23   5500.0  ...         NaN
4       Data Scientist   95000.0    2019-11-12   8000.0  ...         NaN
5        HR Specialist   70000.0           NaN      NaN  ...         NaN
6    Marketing Manager       NaN    2017-04-30   6200.0  ...         NaN
7   Content Strategist   70000.0    2021-01-22   4000.0  ...         NaN
8         HR Assistant   48000.0    2022-03-15   3000.0  ...         NaN
9           HR Manager   80000.0    2016-08-19  10000.0  ...         NaN
10                 NaN       NaN           NaN      NaN  ...        Iron
11                 NaN       NaN           NaN      NaN  ...       SMITH
12                 NaN       NaN           NaN      NaN  ...      Spider

   Gender_y Age_y Department_y        Job_Title_y  Salary_y Date_Joined_y  \
0       NaN   NaN          NaN                NaN       NaN           NaN
1       NaN   NaN          NaN                NaN       NaN           NaN
2       NaN   NaN          NaN                NaN       NaN           NaN
3       NaN   NaN          NaN                NaN       NaN           NaN
4       NaN   NaN          NaN                NaN       NaN           NaN
5       NaN   NaN          NaN                NaN       NaN           NaN
6       NaN   NaN          NaN                NaN       NaN           NaN
7       NaN   NaN          NaN                NaN       NaN           NaN
8       NaN   NaN          NaN                NaN       NaN           NaN
9       NaN   NaN          NaN                NaN       NaN           NaN
10     Male  35.0           HR         HR Manager   65000.0    2024-03-01
11   female  28.0           IT  Software Engineer   85000.0    2024-07-15
12     Male  45.0      Finance         Accountant   90000.0    2024-06-23

   Bonus_y  Phone_Number_y            Email_y
0      NaN             NaN                NaN
1      NaN             NaN                NaN
2      NaN             NaN                NaN
3      NaN             NaN                NaN
4      NaN             NaN                NaN
5      NaN             NaN                NaN
6      NaN             NaN                NaN
7      NaN             NaN                NaN
8      NaN             NaN                NaN
9      NaN             NaN                NaN
10  5000.0        535-1234    user1@gmail.com
11  7000.0        551-5678  user2@example.com
12  5500.0        525-2345  user3@company.com

[13 rows x 23 columns]

* Inner Merge:
Returns only rows where the merge key (column or index) exists in both dataframes. This is the default merge type.
* Outer Merge:
Returns all rows from both dataframes. If a row exists in one dataframe but not the other, missing values (NaN) are added.
* Left Merge:
Returns all rows from the "left" dataframe and matching rows from the "right" dataframe. Non-matching rows from the right dataframe result in NaN values.
* Right Merge:
Returns all rows from the "right" dataframe and matching rows from the "left" dataframe. Non-matching rows from the left dataframe result in NaN values.
_______________

* The on parameter specifies the column(s) to merge on. If column names differ, left_on and right_on can be used. Merging on index is possible using left_index=True or right_index=True.
* Without specifying the on argument, the merge() function automatically looks for columns with the same names in both DataFrames. If it finds one or more columns with matching names, it uses those columns as the join keys. This behavior is equivalent to explicitly specifying the on argument with the common column names. If no common columns are found, and neither left_index nor right_index is set to True, the function will raise a MergeError.

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Amith', 'Kamath', 'Belman']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Type': ["First", "Last1", "Last2"]})

print(df1)
print(df2)
print('-----------------------------------------------------------------------------------')
# Inner Merge (default)
inner_merged = pd.merge(df1, df2, on='ID')
print("inner_merged")
print(inner_merged)
print('-----------------------------------------------------------------------------------')
# Outer Merge
outer_merged = pd.merge(df1, df2, on='ID', how='outer')
print("outer_merged")
print(outer_merged)
print('-----------------------------------------------------------------------------------')
# Left Merge
left_merged = pd.merge(df1, df2, on='ID', how='left')
print("left_merged")
print(left_merged)
print('-----------------------------------------------------------------------------------')
# Right Merge
right_merged = pd.merge(df1, df2, on='ID', how='right')
print("right_merged")
print(right_merged)

   ID    Name
0   1   Amith
1   2  Kamath
2   3  Belman
   ID   Type
0   2  First
1   3  Last1
2   4  Last2
-----------------------------------------------------------------------------------
inner_merged
   ID    Name   Type
0   2  Kamath  First
1   3  Belman  Last1
-----------------------------------------------------------------------------------
outer_merged
   ID    Name   Type
0   1   Amith    NaN
1   2  Kamath  First
2   3  Belman  Last1
3   4     NaN  Last2
-----------------------------------------------------------------------------------
left_merged
   ID    Name   Type
0   1   Amith    NaN
1   2  Kamath  First
2   3  Belman  Last1
-----------------------------------------------------------------------------------
right_merged
   ID    Name   Type
0   2  Kamath  First
1   3  Belman  Last1
2   4     NaN  Last2


### Dataframe Transformations

#### pivot and pivot_table

* The pivot() function in the Pandas library is used to reshape a DataFrame by converting unique values from one column into new columns. This is useful for transforming data from a "long" format to a "wide" format.
* basic syntax: df.pivot(index, columns, values)

* If index contains duplicates, you can use pivot_table
* basic syntax: df.pivot_table(index, columns, values, aggfunc optional, fill_value optional)

values: The column to aggregate.
index: The column to group by on the pivot table index (rows).
columns: The column to group by on the pivot table columns.
aggfunc: The aggregation function to use (e.g., sum, mean, count). Defaults to mean.
fill_value: Value to replace missing values with. default NaN.

#### groupby
* The groupby() method in pandas is used to group rows in a DataFrame based on the values in one or more columns. This allows you to perform aggregate functions on each group, such as calculating the sum, mean, size, or count and so on.
* basic syntax: df.groupby(\[columns\])\[selection column\].agg(\[aggregation function\])

In [2]:
import pandas as pd

df = pd.DataFrame({'A': ['foo', 'foo', 'bar', 'bar',
                         'foo', 'foo', 'bar', 'bar'],
                    'B': ['one', 'one', 'one', 'two',
                         'two', 'two', 'one', 'two'],
                    'C': [1, 2, 3, 4, 5, 6, 7, 8],
                    'D': [9, 10, 11, 12, 13, 14, 15, 16]})
print("Original data")
print(df)
# assume I want to compute avereage C value  per value of 'A'
# we can use groupby
print('Groupby example')
print(df.groupby(['A'])['C'].agg(['mean']))
print("__________________")

Original data
     A    B  C   D
0  foo  one  1   9
1  foo  one  2  10
2  bar  one  3  11
3  bar  two  4  12
4  foo  two  5  13
5  foo  two  6  14
6  bar  one  7  15
7  bar  two  8  16
Groupby example
     mean
A
bar   5.5
foo   3.5
__________________

In [3]:
#what if I want to compute average of C value per value of A per value of B
print("__________________")
print("with groupby")
print(df.groupby(['A','B'])['C'].agg(['mean'])),((['count']))


#pivot table is useful when we are using two or more categorical values like above.

#what if I want to compute average of C value per value of A per value of B
print("__________________")
print("with pivot_table")
pivoted_df = df.pivot_table(index='A', columns='B', values='C',aggfunc='mean')
print(pivoted_df)
#you can use aggfunc parameter to set aggregation function to other things, like min, max and so on.

__________________
with groupby
         mean
A   B
bar one   5.0
    two   6.0
foo one   1.5
    two   5.5
__________________
with pivot_table
B    one  two
A
bar  5.0  6.0
foo  1.5  5.5

In [ ]:

#hands-on activity

import seaborn as sns
tipsdata=sns.load_dataset('tips')

print(tipsdata.shape)
print(tipsdata.columns)
print(tipsdata.head())

print("______________")
# how much did people tip on average per day of week per time  of day?
mean_day=print(tipsdata.groupby(['day', 'time'])['tip'].agg(['mean']))


print("______________")

#what is the average party size at time of day (lunch at dinner), what is the max and min party size.
avg_size=print(tipsdata.groupby(['time'])['size'].agg(['mean']))
print("______________")
avg_size=print(tipsdata.groupby(['time'])['size'].agg(['min']))
print("______________")
avg_size=print(tipsdata.groupby(['time'])['size'].agg(['max']))
print("______________")

#how much do people tip (average, max, min) per gender per smoker type per size do this with both groupby and pivot table.

print(tipsdata.groupby(['sex','smoker','size'])['tip'].agg(['mean'])),((['max'])),((['min']))
print("______________")
pivoted_tips=tipsdata.pivot_table(index='smoker',columns=('sex', 'size'), values='tip',aggfunc=('mean', 'max', 'min'))
print(pivoted_tips)

"""
#pivot table is useful when we are using two or more categorical values like above.

#what if I want to compute average of C value per value of A per value of B
print("__________________")
print("with pivot_table")
pivoted_df = df.pivot_table(index='A', columns='B', values='C',aggfunc='mean')
print(pivoted_df)
#you can use aggfunc parameter to set aggregation function to other things, like min, max and so on.
"""

(244, 7)
Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
______________
                 mean
day  time
Thur Lunch   2.767705
     Dinner  3.000000
Fri  Lunch   2.382857
     Dinner  2.940000
Sat  Lunch        NaN
     Dinner  2.993103
Sun  Lunch        NaN
     Dinner  3.255132
______________
            mean
time
Lunch   2.411765
Dinner  2.630682
______________
        min
time
Lunch     1
Dinner    1
______________
        max
time
Lunch     6
Dinner    6
______________
                        mean
sex    smoker size
Male   Yes    1     1.920000
              2     2.692927
              3     4.272857
              4     3.981111
              5     2.500000
              6          NaN
       No     1          NaN
              2     2.557544
              3     3.148824
              4     4.262632
              5     5.000000
              6     5.850000
Female Yes    1     1.000000
              2     2.736800
              3     3.846000
              4     4.045000
              5          NaN
              6          NaN
       No     1     1.415000
              2     2.370606
              3     2.918889
              4     4.014286
              5     5.140000
              6     4.600000
______________
         max                                                      ...   min  \
sex     Male                             Female                   ...  Male
size       1     2      3    4    5    6      1     2     3    4  ...     3
smoker                                                            ...
Yes     1.92  5.65  10.00  6.5  3.0  NaN   1.00  5.00  6.50  5.0  ...  2.00
No       NaN  5.85   5.92  9.0  5.0  6.7   1.83  4.08  4.67  5.2  ...  1.66


sex                   Female
size      4    5    6      1     2     3     4     5    6
smoker
Yes     2.0  2.0  NaN    1.0  1.00  2.50  3.09   NaN  NaN
No      2.0  5.0  5.0    1.0  1.01  1.36  2.45  5.14  4.2

[2 rows x 36 columns]

<ipython-input-34-025b8479c940>:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_day=print(tipsdata.groupby(['day', 'time'])['tip'].agg(['mean']))
<ipython-input-34-025b8479c940>:18: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_size=print(tipsdata.groupby(['time'])['size'].agg(['mean']))
<ipython-input-34-025b8479c940>:20: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_size=print(tipsdata.groupby(['time'])['size'].agg(['min']))
<ipython-input-34-025b8479c940>:22: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_size=print(tipsdata.groupby(['time'])['size'].agg(['max']))
<ipython-input-34-025b8479c940>:27: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(tipsdata.groupby(['sex','smoker','size'])['tip'].agg(['mean'])),((['max'])),((['min']))
<ipython-input-34-025b8479c940>:29: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivoted_tips=tipsdata.pivot_table(index='smoker',columns=('sex', 'size'), values='tip',aggfunc=('mean', 'max', 'min'))

'\n#pivot table is useful when we are using two or more categorical values like above.\n\n#what if I want to compute average of C value per value of A per value of B\nprint("__________________")\nprint("with pivot_table")\npivoted_df = df.pivot_table(index=\'A\', columns=\'B\', values=\'C\',aggfunc=\'mean\')\nprint(pivoted_df)\n#you can use aggfunc parameter to set aggregation function to other things, like min, max and so on.\n'