In [ ]:
# Review of Intro to Data Wrangling 1 and 2

1. Data Wrangling

In [ ]:
#creating a dataframe:

"""

data={
  'review_id':[1,2,3],
  'movie_name': ['hello, 'flower', 'top'],
  etcc
}

"""

In [ ]:
#overview:
"""
cleaning: removing errors or inconsistencies
transforming: chnaging dtypes, values or structures
filtering: selecting relevant data points
feature engineeering: creating new feautures from existing data


"""

#libraries
"""
DF: table(rows and columns)
Series: one dim array with labeled indicies

Pandas: simplifies data prep:
read csv
df.dropna()
df.fillna()
df.groupby() for agg


NumPy: handling numeric data
- np.array() create arrays
- np.mean(), np.median() ..


Matplotlib and seaborn: data visualization
- stst visualizations

Regex( re text analysis)
- extract patterns from text data

"""

In [ ]:
# missing data

"""
data=pd.read_csv(..)

(data.shape) gives rows and columns
data.isnull().sum() shows missing count


data = data.dropna()
data=data.dropna(subset=['col1', 'col2']) drops missing rows from those columns
data2=data.dropna(axis=1) axis 0 is rows (defualt), 1 is columns


#Threshold
thresh=data.dropna(thresh=10) #must have atleast 10 filled vals, otherwise dropped
thresh=data.dropna(thresh=10, axis=1) --> for columns

#Input missing data

data_filled=data[['salary', 'bonus', 'age']].fillna(0)
data_filled=data.fillna({'First Name': 'Unknown', 'Date_Joined': 'Unknown'})

numeric=data.select_dtypes(exclude='object').columns #gets only numeric
data_mean=data.fillna(data[numeric]).mean())

data=data.fillna({'Age': data['Age'].mean(), 'height': data['height'].mean()})

"""
#Forward and Backward fill:
"""
data_fill=data.ffil() #takes PRECEDING (top to bottom)
data_fill=data.bfill() #takes SUCCEDEING val (bottom to top)
 can apply axis to this ^
 axis=0 is rows (vertical)
 axis=1 is cols (horizontal)

"""
#Removing duplicates
"""
data=data.dop_duplicates()
data=data.drop_duplicates(subset=['Salary']) #even if other columns are diff is salary matches it will drop the second one and onwards
"""

#Dataframes**
"""
my_columns=["col1", "col2", "col3", "col4", "col5", "col6", "col7", "col8", "col9", "col10","col11","col12"]

example1=pd.read_csv('messy_employee_data.csv',names=my_columns, na_values='?')#does not fully replace names goes over and keeps original names at 0
print(example1.head())

#note this replaces the column names entirely
example2=pd.read_csv('messy_employee_data.csv')
example2.columns = my_columns
"""

#Series
"""
build df with Series obj  lile one dim array

a=pd.Series([1,2,3,4,5,6,7,8,9])
b=pd.Series(["One","Two","Three","Four","Five","Six","Seven"])
c=pd.Series([0,1,0,1,0,1,0,1,0,1])
newdata=pd.DataFrame({"column1":a,"column2":b}) #use .DataFrame

gives:

  column1 column2
0        1     One
1        2     Two
2        3   Three
3        4    Four
4        5    Five
5        6     Six
6        7   Seven
7        8     NaN
8        9     NaN


"""
#Changing Data Types
"""
data_1['Salary'] = data_1['Salary'].astype('int')
"""

#String Manipulation
"""
import re
data_1['year'] = data_1['Date_Joined'].astype(str).str.extract(r'(\d{4})')  # Extract year from a date string, there are other ways to do this as it was already a datatime object
#Example 3: Replacing Values
#data_1['Gender'] = data_1['Gender'].replace({'male': 'M','Male': 'M', 'female': 'F','Female': 'F'})
data_1['Gender'] = data_1['Gender'].replace({re.compile('[mM]ale'): 'M',re.compile('[fF]emale'): 'F'})

"""
#Merging Datasets
"""
-inner merge (default)
keeps rows where ID exists in both
inner_merged = pd.merge(df1, df2, on='ID')


-outer merge
keeps all rows from both dataframes
outer_merged = pd.merge(df1, df2, on='ID', how='outer') make sure to say how


-left merge
left_merged = pd.merge(df1, df2, on='ID', how='left')
Keeps all rows from the left DataFrame (df1).

Matches from df2, fills NaN if no match.




-right merge
Keeps all rows from the right DataFrame (df2).

Matches from df1, fills NaN if no match.


"""
#Dataframe Transofrmations
"""
pivot() to reshape df
df.pivot(index, columns, values) index acts as x , columns as 'by', values as y

#good when graphing^^


# .agg() and .groupby()

df.groupby(['A'])['C'].agg(['mean']) #we are groupby on A and for that we want mean of C
df.groupby('A')['C'].agg(['mean', 'sum']) #multiple fucntions

df.groupby('A')['C'].mean() #can also do without .agg()

when dealing with duplicates u can use .pivot_table() and u can have fucntions in it:
data.pivot_table(index='Department', columns='Month', values='Salary', aggfunc='mean')

having multiple fucntions syntax :
print(tipsdata.groupby(['sex','smoker','size'])['tip'].agg(['mean'])),((['max'])),((['min']))


"""

### 1. Practice

In [ ]:
##Conceptual:
"""
Q1. What is the difference between cleaning, transforming, and feature engineering in data preparation?

-cleaning is handling inconsistencies in the data, whereas transforming is turning the data in the specifc formt you want
and making it a dataframe or some object. Feauture engineering is changing some features or doing things on certain columns

Q2. What is the difference between a DataFrame and a Series in pandas?
- Dataframe is a table like structure whereas a Series is a Series object
which is like a one dimensional array


Q3. If you want to drop all columns that have fewer than 5 non-null values, which command would you use?
- You would use dara.dropna(thresh=5, axis=1) which would keep if the row had atleast 5 non null values


Q4. What is the purpose of using subset in dropna()?
- subset in dropna() can be used to specify which columns to consider for dropping rows

Q5. Fill in the blank:
If I want to fill all missing numeric values with zero in specific columns ['salary', 'bonus'], I should write:
- data_filled=data[['salary', 'bonus']].fillna(0) #doubke brackets for multiple columns

Q6. What’s the difference between .ffill() and .bfill()? Also, how would you apply it across columns?
- .ffil() works by filling the df vertically from top to bottom and uses the preceding value,
while .bfill() goes bottom to top and uses succeeding value


Q7. How would you drop duplicate rows based only on the 'Salary' column, even if other columns differ?
-data=data.drop_duplicates(subset=['Salary'])

Q8. You’re reading a messy CSV file, and you want to fully replace the column names with your own list of names.
Which method should you use after reading the file?

mycols=['col1', 'col2']
data=pd.read_csv('filename')
data.columns=mycols

Q9. How would you build a DataFrame using pandas Series objects for columns called 'column1' and 'column2'?
a=pd.Series([1,2,3])
b=pd.Series(['A', 'B;, 'C'])
data=pd.DataFrame({'column1':a, 'column2':b})


Q10. Write the line of code to convert the 'Salary' column to integers.
- data=data['Salary'].astype(int)


**Q11. If the 'Date_Joined' column contains dates as strings, how would you extract the year using regex?
import re
data['year']=data['Date_Joined'].astype(str).str.extract(r'(\d{4})')


**Q12. Write the line of code to standardize the values in the 'Gender' column to 'M' and 'F' using regex.
data['Gender']=data['Gender'].replace({
  re.compile(r'[mM]ale): 'M',
  re.complie(r'[fF]emale): 'F'
})]


Q13. What is the difference between inner, outer, left, and right merges?

-inner merge which is default merges two df and works as an 'and' only whats in both df's
-outer is the opposite acts like an 'or' and merges all rows and columns based on whats specifed
- left: merges from the first df
-right: merges from the right df


Q14. If you want to keep all rows from the right DataFrame, and match data from the left where possible, which type of merge would you use?
-you would use right merege

Q15. What is the difference between pivot() and pivot_table()? Why might you prefer pivot_table()?
-pivot() is used to adjust certain columns and values in a df into a table with values and index and columns
-pivot_table() is better with handling duplicates and u can add agg fucntions in it

Q16. Write the code to group a DataFrame by column 'A' and calculate both the mean and sum of column 'C'.
- data.groupby('A')['C'].agg(['mean', 'sum']) #pass like a list

Q17. True or False:
You must always use .agg() to calculate the mean after groupby().
False

Q18. How would you group by multiple columns, like 'sex', 'smoker', and 'size', and get the mean, max, and min of 'tip'?
data.groupby(['sex', 'smoker', 'size']).agg(['mean', 'max', 'min'])



"""
#More Hands-On
"""
1. You have a DataFrame with many missing values across different columns.
Write the code to: a) Drop all rows where both 'Age' and 'Salary' are missing.
b) For numeric columns, fill missing values with zero.


a) data=data.dropna(subset=['Age', 'Salary']])
**b)
numeric=data.select_dtypes(exclude=object)
data[numeric]=data[numeric].fillna(0)


2. If you want to drop columns that have fewer than 3 non-null values, what would you write?
data=data.dropna(thresh=3, axis=1)


**3. Write the code to: a) Forward fill missing values across rows.
b) Backward fill missing values down the columns.

a) data.ffil()
b) data.bfill(axis=1)


**4. Given a DataFrame with columns 'Employee_ID', 'Salary', and 'Department',
write the code to remove duplicate entries in 'Employee_ID' while keeping the first occurrence.
data=data.drop_duplicates(subset='Employee_ID) #assign to data because ur dropping from whole df based on that column


5.
df = pd.DataFrame({
    'Region': ['East', 'West', 'East', 'West', 'East'],
    'Sales': [200, 150, 300, 100, 250],
    'Profit': [20, 15, 30, 10, 25]
})
a) Group by 'Region' and calculate the total sales.
df.groupby('Region')['Sales'].sum()

b) Group by 'Region' and calculate both total sales and total profit.
df.groupby('Region')[['Sales', 'Profit']].agg(['sum'])




6.
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 95]})

a) Write the code for an inner merge.
pd.merge(df1,df2)


b) Write the code for an outer merge.
pd.merge(df1,df2,how='outer')



7. df = pd.DataFrame({
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
    'Month': ['Jan', 'Feb', 'Jan', 'Feb', 'Jan'],
    'Salary': [4000, 4500, 5000, 5200, 4800]
})
Create a pivot table showing average salary per department and month.
df.pivot_table(index='Department', columns='Month', values='Salary', aggfunc='mean')
#make sure to use aggfunc


8. Given a column 'Price' in your DataFrame, write the code to convert it to float type.
data['Price']=data['Price'].astype(float)

"""

#regex review:
"""

1. You have a column 'Employee_ID' like this:

EMP-123
EMP-456
EMP-789
 Task: Extract only the numeric part (e.g., 123, 456, etc.) and save it in a new column called 'Emp_Number'

data['Emp_Number']=data['Employee_ID'].str.extract(r'\d{3}')


2.
data['Month']=data['Date'].str.extract(r'-(\d{2})-') str.extract gets the first occurence

3.
You have an 'Email' column like:

john.doe@example.com
jane_smith@gmail.com
user123@yahoo.com
Task: Extract everything before the '@' symbol and store it in a new column 'Username'.

data['Username']=data['Email'].str.extract(r'([a-z._0-9]+)@') or (r'([^@]+)@') any char execpt @


**4. You have a 'Department' column with inconsistent cases:
'hr', 'HR', 'Hr', 'hR'
Task: Standardize all variations to 'HR' using regex.

- .replace({pattern:replacement})

data['Department']=data['Department'].replace({re.complie([hH][rR]): 'HR'})


5. (Bonus) You have a 'PhoneNumber' column with values like:

'(123) 456-7890'
'123-456-7890'
'1234567890'
Task: Extract the 10-digit number and save it in uniform format: '1234567890'.

data['Clean_Phone'] = data['PhoneNumber'].str.replace(r'\D', '', regex=True)
- use replace to replace any non digit with empty space
"""

"\n\n1. You have a column 'Employee_ID' like this:\n\nEMP-123  \nEMP-456  \nEMP-789\n Task: Extract only the numeric part (e.g., 123, 456, etc.) and save it in a new column called 'Emp_Number'\n\ndata['Emp_Number']=data['Employee_ID'].str.extract(r'\\d{3}')\n\n\n2. \ndata['Month']=data['Date'].str.extract(r'-(\\d{2})-') str.extract gets the first occurence\n\n3. \nYou have an 'Email' column like:\n\njohn.doe@example.com\njane_smith@gmail.com\nuser123@yahoo.com\nTask: Extract everything before the '@' symbol and store it in a new column 'Username'.\n\ndata['Username']=data['Email'].str.extract(r'([a-z._0-9]+)@') or (r'([^@]+)@') any char execpt @\n\n\n**4. You have a 'Department' column with inconsistent cases:\n'hr', 'HR', 'Hr', 'hR'\nTask: Standardize all variations to 'HR' using regex.\n\n- .replace({pattern:replacement})\n\ndata['Department']=data['Department'].replace({re.complie([hH][rR]): 'HR'})\n\n\n5. (Bonus) You have a 'PhoneNumber' column with values like:\n\n'(123) 456-7890'\n'123-456-7890'\n'1234567890'\nTask: Extract the 10-digit number and save it in uniform format: '1234567890'.\n\ndata['Clean_Phone'] = data['PhoneNumber'].str.replace(r'\\D', '', regex=True)\n- use replace to replace any non digit with empty space\n"

2. Data Wrangling

In [ ]:
#melt, stack and unstack

"""
melt() used to transform data from wide to long
coverting rows to columns, good for visuals (reshaping)

syntax: df.melt(id_vars='',value_vars='', var_name='', value_name='')
id_vars=columns to stay same
value_vars=columns to melt into rows
var_name=name of columns containing value_vars
value_name= name of column containing corresponding values of value_vars

ex) # Melt the DataFrame
melted_df = df.melt(id_vars=['FName','LName'], value_vars=["Math","Chem"],var_name='Subject', value_name='Score')
print("\nMelted DataFrame:")

Original DataFrame:
  FName LName  Math  Chem  CS  Phy
0     A     X     1    88  50   78
1     B     Y     2    95  55   85
2     C     Z     3    80  60   90

Melted DataFrame:
  FName LName Subject  Score
0     A     X    Math      1
1     B     Y    Math      2
2     C     Z    Math      3
3     A     X    Chem     88
4     B     Y    Chem     95
5     C     Z    Chem     80

"""
#sentiment analysis:
"""
1. VADER(rile-based, tuned for social media)
2. TextBlob (simple library)
3. Hugging Face Tranformations (DL models)
4. Flair (more exploration)


1.
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
nltk.download('vader_lexicon')

# Initialize VADER
vader = SentimentIntensityAnalyzer()


# Example sentence for individual scoring
sentence = "I absolutely loved the movie, though some parts were a bit slow."
scores = vader.polarity_scores(sentence)
print("VADER Scores:", scores)

# Function to apply to a DataFrame column
def vader_sentiment(text):
    return vader.polarity_scores(text)['compound'] #compund gives the final overall score

movie_data['vader_sentiment'] = movie_data['text'].apply(vader_sentiment)
print(movie_data.iloc[0]['text'])  # integer-location , gets the first row for both the text and score
print(movie_data.iloc[0]['vader_sentiment'])

____________________________________________________________________________

2. TextBlob

from textblob import TextBlob

# Example using TextBlob
review = "The movie was fantastic and inspiring, but the ending was disappointing."
blob = TextBlob(review)
print("TextBlob Polarity:", blob.sentiment.polarity)
print("TextBlob Subjectivity:", blob.sentiment.subjectivity)

# Apply TextBlob sentiment to Twitter data
tweet_data['textblob_sentiment'] = tweet_data['tweet'].apply(lambda x: TextBlob(x).sentiment.polarity)
print(tweet_data[['tweet', 'textblob_sentiment']])

____________________________________________________________________________
3. Hugging Face

from transformers import pipeline

# Create sentiment analysis pipeline
sentiment_pipeline = pipeline("sentiment-analysis",model="facebook/bart-large-mnli")
#not all models are free. bert, bart, gpt2 and some others are
# Example sentence
result = sentiment_pipeline("I was not impressed by the movie; it felt outdated and dull.")
print("Transformers Result:", result)

______________________________________________________________________________
4. Flair

# Uncomment and install flair if desired: !pip install flair
!pip install flair
from flair.models import TextClassifier
from flair.data import Sentence

# Load the sentiment classifier from Flair
classifier = TextClassifier.load('en-sentiment')
sentence = Sentence("The service at the theater was outstanding, yet the movie fell flat.")
classifier.predict(sentence)
print("Flair Sentiment:", sentence.labels)



"""

'\n1. VADER(rile-based, tuned for social media)\n2. TextBlob (simple library)\n3. Hugging Face Tranformations (DL models)\n4. Flair (more exploration)\n\n\n1. \nfrom nltk.sentiment.vader import SentimentIntensityAnalyzer\nimport nltk\nnltk.download(\'vader_lexicon\')\n\n# Initialize VADER\nvader = SentimentIntensityAnalyzer()\n\n\n# Example sentence for individual scoring\nsentence = "I absolutely loved the movie, though some parts were a bit slow."\nscores = vader.polarity_scores(sentence)\nprint("VADER Scores:", scores)\n\n# Function to apply to a DataFrame column\ndef vader_sentiment(text):\n    return vader.polarity_scores(text)[\'compound\'] #compund gives the final overall score \n\nmovie_data[\'vader_sentiment\'] = movie_data[\'text\'].apply(vader_sentiment)\nprint(movie_data.iloc[0][\'text\'])  # integer-location , gets the first row for both the text and score \nprint(movie_data.iloc[0][\'vader_sentiment\'])\n\n____________________________________________________________________________\n\n2. TextBlob\n\nfrom textblob import TextBlob\n\n# Example using TextBlob\nreview = "The movie was fantastic and inspiring, but the ending was disappointing."\nblob = TextBlob(review)\nprint("TextBlob Polarity:", blob.sentiment.polarity)\nprint("TextBlob Subjectivity:", blob.sentiment.subjectivity)\n\n# Apply TextBlob sentiment to Twitter data\ntweet_data[\'textblob_sentiment\'] = tweet_data[\'tweet\'].apply(lambda x: TextBlob(x).sentiment.polarity)\nprint(tweet_data[[\'tweet\', \'textblob_sentiment\']])\n\n____________________________________________________________________________\n3. Hugging Face\n\nfrom transformers import pipeline\n\n# Create sentiment analysis pipeline\nsentiment_pipeline = pipeline("sentiment-analysis",model="facebook/bart-large-mnli")\n#not all models are free. bert, bart, gpt2 and some others are\n# Example sentence\nresult = sentiment_pipeline("I was not impressed by the movie; it felt outdated and dull.")\nprint("Transformers Result:", result)\n\n______________________________________________________________________________\n4. Flair\n\n# Uncomment and install flair if desired: !pip install flair\n!pip install flair\nfrom flair.models import TextClassifier\nfrom flair.data import Sentence\n\n# Load the sentiment classifier from Flair\nclassifier = TextClassifier.load(\'en-sentiment\')\nsentence = Sentence("The service at the theater was outstanding, yet the movie fell flat.")\nclassifier.predict(sentence)\nprint("Flair Sentiment:", sentence.labels)\n\n\n\n'

In [ ]:
# conceptual plus hands on
"""

Q1.When would you use .melt()? Can you give me a scenario (example dataset type or visual task)?
- .melt() would be used when u need to reshape the data for visualization purposes.

ex) i have a dataframe called df
df.melt(id_vars, value_vars, var_name, value_name)


Q2.What is the purpose of id_vars in the melt function?
- id_vars is what u want to keep as columns and not melt


Q3.Suppose you have this wide DataFrame:

Name  Math  Science
A     90    85
B     80    88
What will happen if you do:

df.melt(id_vars='Name', value_vars=['Math', 'Science'], var_name='Subject', value_name='Score')

Describe what the output will look like (not exact syntax, just shape/columns).
- name wil remian as a column, while math and science will reshape into rows. The name of the column with math and scinece will be subject,
and the next column with values will be the scores with the label score


Q4. What is the difference between VADER and TextBlob? (Give me one advantage of each.)
- vader is a more tuned for social media while textblob is a more basic text analysis tool

Q5. For VADER, let’s say you have the compound score for a sentence. How would you interpret these scores:

Compound score: 0.8
- This score has a pretty strng positive sentiment score

Compound score: 0.0
- There is no sentiment

Compound score: -0.5
- There is mpderate negtiave sentiment

"""
#More hands on:

#vader
"""
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
nltk.download('vader_lexicon')
vader = SentimentIntensityAnalyzer()


Task 1: Analyze a simple sentence
Sentence: "The food was amazing but the service was terrible."
Write the code to get the polarity scores dictionary.

-
scores=vader.polarity_scores(sentence)
print('The scores are: {scores})


Task 2: Get only the compound score
 Using the same sentence, extract just the compound score.
- final_score=vader.polarity_scores(sentence)['compound']


Task 3: Apply VADER to a pandas DataFrame
Imagine you have:

import pandas as pd
reviews = pd.DataFrame({'review': ["The movie was fantastic!", "It was okay, not great.", "Worst experience ever."]})
 Write the code to apply VADER and create a new column called 'vader_compound' containing the compound scores.
- reviews['vader_compound']=reviews['review'].apply(lambda x: vader.polarity_scores(x)['compound'])
print(reviews)


**Task 4: Using the compound score in your DataFrame, create a new column called 'vader_sentiment' with labels:
Positive (compound > 0.05)
Neutral (between -0.05 and 0.05)
Negative (compound < -0.05)


def classify_sentiment(score):
    if score > 0.05:
        return 'Positive'
    elif score < -0.05:
        return 'Negative'
    else:
        return 'Neutral'

reviews['vader_sentiment']=reviews['vader_compound'].apply(classify_sentiment)

"""
#textblob
"""
Task 1: Analyze a sentence with TextBlob

"The movie had stunning visuals but the story was lacking depth."
 Use TextBlob to print: Polarity, Subjectivity

from textblob import TextBlob
sentence="The movie had stunning visuals but the story was lacking depth."

blob=TextBlob(sentence)
print(blob.sentiment) #gives polarity and subjectivity




**Task 2: Apply TextBlob to a DataFrame
Sample DataFrame:

import pandas as pd
reviews = pd.DataFrame({'review': ["Amazing performance!", "Not worth the time.", "It was decent, could be better."]})
Apply TextBlob to get the polarity score in a new column called 'textblob_polarity'.

-reviews['textblob_polarity']=reviews['review'].apply(lambda x: TextBlob(x).sentiment.polarity)


Task 3: Classify sentiment from polarity score
Add a new column 'textblob_sentiment':
Positive if polarity > 0
Neutral if polarity == 0
Negative if polarity < 0

def classify_sentiment(polarity):
  if polarity>0:
    return 'Positive'
  elif polarity<0:
    return 'Negative'
  else:
    return 'Neutral'

-reviews['textblob_sentiment']=reviews['textblob_polarity'].apply(classify_sentiment)

Bonus Task 4 (Optional):
Can you also add the subjectivity score in a new column called 'textblob_subjectivity'
-
def subjectivity(text):
  return TextBlob(text).sentiment.subjectivity)

reviews['textblob_subjectivity']=reviews['review'].apply(subjectivity)


"""

'\n\nQ1.When would you use .melt()? Can you give me a scenario (example dataset type or visual task)?\n- .melt() would be used when u need to reshape the data for visualization purposes. \n\nex) i have a dataframe called df \ndf.melt(id_vars, value_vars, var_name, value_name)\n\n\n\n\n\n\n'

In [ ]:
#more:
"""

data = pd.DataFrame({
    'Department': ['HR', 'IT', 'Finance', 'HR', 'IT'],
    'Salary': [4000, 5000, 5500, 4200, 4800],
    'Experience': [2, 5, 7, 3, 4]
})
✅ Task:
Group by 'Department' and calculate:

Mean salary

Max experience

Write the code!


mean_salary=data.groupby('Department')['Salary'].mean()
max_exp=data.groupby('Department')['Experience'].max()

OR

department_stats = data.groupby('Department').agg({'Salary': 'mean', 'Experience': 'max'})
print(department_stats)


**✅ Bonus:
Assign the mean salary back as a new column to the original DataFrame (so every row in 'HR' gets its department’s mean salary).
data['mean_sal']=data['Department'].map(mean_salary)





Q3.
Given:
df = pd.DataFrame({
    'FName': ['A', 'B'],
    'LName': ['X', 'Y'],
    'Math': [80, 90],
    'Science': [85, 95]
})
✅ Task:
Use melt() to reshape the DataFrame so that:

'FName' and 'LName' stay as they are.

'Math' and 'Science' become a new column 'Subject'.

Their scores go in a column 'Score'.


data=data.melt(id_vars=['FName', 'LName'],value_vars=['Math', 'Science'], var_name='Subject', value_name='Score')



Q4.
Given:

data = pd.DataFrame({
    'Date_Joined': ['2021-05-14', '2020-08-20', '2019-07-11']
})
✅ Task:
Extract the year from the 'Date_Joined' column using regex.


import re
year=data['Date Joined'].str.extract(r'(\d{4})')



Q5.
Given:

data = pd.DataFrame({
    'Email': ['john.doe@example.com', 'jane_smith@work.org']
})
✅ Task:
Extract just the username part (before the @) from the email addresses using regex.

import re
preuser=data['Email'].str.extract(r'([a-zA-Z0-9._%+-]+)@')




Q6. (Bonus regex)
Given:
data = pd.DataFrame({
    'Department': ['hr', 'HR', 'It', 'it', 'finance', 'Finance']
})
✅ Task:
Standardize 'Department' to be:

'HR' for any case of 'hr'

'IT' for any case of 'it'

'Finance' for any case of 'finance'

data['Department']=data['Department'].replace({
  re.compile('hr'): 'HR', re.compile('it'):'IT', re.compile('finance'): 'Finance'})



"""

In [ ]:
#Cheat sheet:
"""
#dataframes
- data={'review_id': [1,2,3], ...}

cleaning: removing errors or inconsistencies
transforming: chnaging dtypes, values or structures
filtering: selecting relevant data points
feature engineeering: creating new feautures from existing data



#cleaning/manpulation
data.dropna()
df.fillna()
df.groupby()



data=data.dropna(subset=['col1', 'col2']) drops missing rows from those columns
data2=data.dropna(axis=1) axis 0 is rows (defualt), 1 is columns


thresh=data.dropna(thresh=10, axis=1) --> for columns



data_filled=data[['salary', 'bonus', 'age']].fillna(0)
data_filled=data.fillna({'First Name': 'Unknown', 'Date_Joined': 'Unknown'}) or numerical types

numeric=data.select_dtypes(exclude='object').columns #gets only numeric
data_mean=data.fillna(data[numeric]).mean())


data_fill=data.ffil() #takes PRECEDING (top to bottom)
data_fill=data.bfill() #takes SUCCEDEING val (bottom to top)


data=data.drop_duplicates(subset=['Salary']) #even if other columns are diff is salary matches it will drop the second one and onwards


#series

a=pd.Series([1,2,3,4,5,6,7,8,9])
newdata=pd.DataFrame({"column1":a,"column2":b}) #use .DataFrame


#string manipualtion
import re
data_1['year'] = data_1['Date_Joined'].astype(str).str.extract(r'(\d{4})')  # Extract year from a date string, there are other ways to do this as it was already a datatime object
#Example 3: Replacing Values
#data_1['Gender'] = data_1['Gender'].replace({'male': 'M','Male': 'M', 'female': 'F','Female': 'F'})
data_1['Gender'] = data_1['Gender'].replace({re.compile('[mM]ale'): 'M',re.compile('[fF]emale'): 'F'})




#merge
inner merge (default)
keeps rows where ID exists in both
inner_merged = pd.merge(df1, df2, on='ID')


rest is , outer(keep all rows from df), left(all rows fro left df and tries tro matcch, if no match then Nan)




#tranfrmatrions:
#Dataframe Transofrmations

pivot() to reshape df
df.pivot(index, columns, values) index acts as x , columns as 'by', values as y

#good when graphing^^


# .agg() and .groupby()

df.groupby('A')['C'].agg(['mean', 'sum']) #multiple fucntions

when dealing with duplicates u can use .pivot_table() and u can have fucntions in it:
data.pivot_table(index='Department', columns='Month', values='Salary', aggfunc='mean')

having multiple fucntions syntax :
tipsdata.groupby(['sex', 'smoker', 'size'])['tip'].agg(['mean', 'max', 'min'])


#
**Q12. Write the line of code to standardize the values in the 'Gender' column to 'M' and 'F' using regex.
data['Gender']=data['Gender'].replace({
  re.compile(r'[mM]ale): 'M',
  re.complie(r'[fF]emale): 'F'
})]


1. You have a DataFrame with many missing values across different columns.
Write the code to: a) Drop all rows where both 'Age' and 'Salary' are missing.
b) For numeric columns, fill missing values with zero.


a) data=data.dropna(subset=['Age', 'Salary']])
**b)
numeric=data.select_dtypes(exclude=object)
data[numeric]=data[numeric].fillna(0)




#regex tips:

#NOTE [^] this [] means match any character inside , ^ with it means negates that. So match any character NOT inside
# [^X]+ match everyhting UNTIL a certain char ex) [^@]+ match all until @
# (.*?) for BETWEN things so ex) \[(.*?)\] this is everyhting inside brackets

2.
data['Month']=data['Date'].str.extract(r'-(\d{2})-') str.extract gets the first occurence of this which is between - and -


data['Username']=data['Email'].str.extract(r'([a-z._0-9]+)@') or (r'([^@]+)@') any char execpt @


**4. You have a 'Department' column with inconsistent cases:
'hr', 'HR', 'Hr', 'hR'
Task: Standardize all variations to 'HR' using regex.

- .replace({pattern:replacement})

data['Department']=data['Department'].replace({re.complie([hH][rR]): 'HR'})


5. (Bonus) You have a 'PhoneNumber' column with values like:

'(123) 456-7890'
'123-456-7890'
'1234567890'
Task: Extract the 10-digit number and save it in uniform format: '1234567890'.

data['Clean_Phone'] = data['PhoneNumber'].str.replace(r'\D', '', regex=True)
- use replace to replace any non digit with empty space




#mel stack, unstack:
syntax: df.melt(id_vars='',value_vars='', var_name='', value_name='')
id_vars=columns to stay same
value_vars=columns to melt into rows
var_name=name of columns containing value_vars
value_name= name of column containing corresponding values of value_vars

ex) # Melt the DataFrame
melted_df = df.melt(id_vars=['FName','LName'], value_vars=["Math","Chem"],var_name='Subject', value_name='Score')






1. VADER(rile-based, tuned for social media)
2. TextBlob (simple library)
3. Hugging Face Tranformations (DL models)
4. Flair (more exploration)


1.
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
nltk.download('vader_lexicon')

# Initialize VADER
vader = SentimentIntensityAnalyzer()


# Example sentence for individual scoring
sentence = "I absolutely loved the movie, though some parts were a bit slow."
scores = vader.polarity_scores(sentence)
print("VADER Scores:", scores)

# Function to apply to a DataFrame column
def vader_sentiment(text):
    return vader.polarity_scores(text)['compound'] #compund gives the final overall score

movie_data['vader_sentiment'] = movie_data['text'].apply(vader_sentiment)
print(movie_data.iloc[0]['text'])  # integer-location , gets the first row for both the text and score
print(movie_data.iloc[0]['vader_sentiment'])

____________________________________________________________________________

2. TextBlob

from textblob import TextBlob

# Example using TextBlob
review = "The movie was fantastic and inspiring, but the ending was disappointing."
blob = TextBlob(review)
print("TextBlob Polarity:", blob.sentiment.polarity)
print("TextBlob Subjectivity:", blob.sentiment.subjectivity)

# Apply TextBlob sentiment to Twitter data
tweet_data['textblob_sentiment'] = tweet_data['tweet'].apply(lambda x: TextBlob(x).sentiment.polarity)
print(tweet_data[['tweet', 'textblob_sentiment']])

____________________________________________________________________________
3. Hugging Face

from transformers import pipeline

# Create sentiment analysis pipeline
sentiment_pipeline = pipeline("sentiment-analysis",model="facebook/bart-large-mnli")
#not all models are free. bert, bart, gpt2 and some others are
# Example sentence
result = sentiment_pipeline("I was not impressed by the movie; it felt outdated and dull.")
print("Transformers Result:", result)

______________________________________________________________________________
4. Flair

# Uncomment and install flair if desired: !pip install flair
!pip install flair
from flair.models import TextClassifier
from flair.data import Sentence

# Load the sentiment classifier from Flair
classifier = TextClassifier.load('en-sentiment')
sentence = Sentence("The service at the theater was outstanding, yet the movie fell flat.")
classifier.predict(sentence)
print("Flair Sentiment:", sentence.labels)






#homework:


def clean(text):

  hashtag_pattern=(r'#([\w-]+)')
  mention_pattern=(r'@(\w+)')
  emoji_pattern=r'[^\w\s,]'
  url_pattern=(r'http\S+') #S is non white space chars

  text=str(text)

  text=re.sub(hashtag_pattern, r'\1', text) #macth to whats inside forst parenthesis group
  text=re.sub(mention_pattern, r'\1', text)
  text=re.sub(emoji_pattern, '', text)
  text=re.sub(url_pattern, '', text)

  return text


data['cleaned_post_content']=data['post_content'].apply(clean)

hashtag_pattern=(r'#([\w-]+)')
data['Hashtags']=data['post_content'].str.findall(hashtag_pattern) #so u can use str.findall here



top_users=averages.sort_values(by='total', ascending=False).head(3) #sort_values for dataframes



post_sentiment=data['sentiment'].value_counts()
post_sentiment



from wordcloud import WordCloud
import matplotlib.pyplot as plt


all_hashtags=data['Hashtags'].dropna().explode() #drop null before exploding
hashtag_str=' '.join(all_hashtags) #join to one big string

wc=WordCloud(width=800, height=400).generate(hashtag_str)
plt.figure(figsize=(10, 5))
plt.imshow(wc)
plt.axis('off')
plt.show()





data.head()
data['year_month']=data['post_date'].dt.to_period('M').astype(str) #monthly period
post_per_month=data.groupby('year_month').size()

x=post_per_month.index
y=post_per_month.values
plt.plot(x, y, marker='o', linestyle='-', color='b')
plt.xlabel('Months')
plt.xticks(rotation=45)
plt.ylabel('Post Count')
plt.title('Line Plot')
plt.show()

"""